<a href="https://colab.research.google.com/github/mathewgit/EDA_Feature_Eng_Krish/blob/main/02_EDA_Black_Friday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Train Data Set https://www.kaggle.com/datasets/sdolezel/black-friday?resource=download&select=train.csv
# Test Data Set  https://www.kaggle.com/datasets/sdolezel/black-friday?resource=download&select=test.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#import the dataset
df_train=pd.read_csv('/content/drive/MyDrive/Data Science/Krish Niak EDA and Feature Engineering/02/Dataset/train.csv/train.csv')
df_train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969